old_sound_rabbit_mq:
    connections:
        default:
            host:     "%env(AMQP_HOST)%"
            port:     "%env(AMQP_PORT)%"
            user:     "%env(AMQP_USER)%"
            password: "%env(AMQP_PASSWORD)%"
            vhost:    '%env(AMQP_VHOST)%'
            lazy:     true
            connection_timeout: 3
            read_write_timeout: 3
            keepalive: false
            heartbeat: 0
            #Использование сокета быстрее, но он не работает из-за бага "Error reading data. Received 0 instead of expected 7 bytes"
            #See https://github.com/php-amqplib/php-amqplib/issues/72
            #See https://github.com/php-amqplib/RabbitMqBundle/issues/447
            use_socket: false

    producers:
      callback_set:
        connection:       default
        exchange_options: { name: "callback_set", type: direct }

      catalog_sync:
        connection: default
        exchange_options: { name: "catalog_sync", type: direct }

      manzana_update:
        connection: default
        exchange_options: { name: "manzana_update", type: direct }

      manzana_referral_add:
        connection: default
        exchange_options: { name: "manzana_referral_add", type: direct }

    consumers:
      callback_set:
        connection:       default
        exchange_options: { name: "callback_set", type: direct}
        queue_options:    { name: "callback_set" }
        callback:         callback_set.consumer

      catalog_sync:
        connection: default
        exchange_options: {name: "catalog_sync", type: direct}
        queue_options: {name: "catalog_sync"}
        callback: search.sync_consumer

      manzana_update:
        connection: default
        exchange_options: {name: "manzana_update", type: direct}
        queue_options: {name: "manzana_update"}
        callback: manzana.contact_consumer

      manzana_referral_add:
        connection: default
        exchange_options: {name: "manzana_referral_add", type: direct}
        queue_options: {name: "manzana_referral_add"}
        callback: manzana.referral_add_consumer