@media print {
	body {
		background-color: white !important;
		max-width: 100% !important;
		margin: 0 !importnat;
	}

	#page {
		width: 100% !important;
		background-color: white !important;
		margin: 0 !importnat;
	}

	.container {
		width: 100% !important;
		margin: 0 !importnat;
	}

	.noprint {
		display: none;
	}
}

input[type="checkbox"] {
	height: auto;
	width: auto;
	line-height: 22px;
	display: inline-block;
}

input[type="submit"] {
	display: inline-block;
	padding: 0 25px;
	width: auto;
	height: 50px;
	cursor: pointer;
	border: none;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	font: bold 17px 'Rotonda Bold', Helvetica, Arial, sans-serif;
	line-height: 50px;
	color: #fff;
	background-color: #ff6e03;
}

