/.idea
/*.log
/.dockerignore
/.DS_Store
/.git/
/.gitattributes
/.gitignore
/.gitmodules
/Dockerfile
/docker-compose.yml
/.env.*
/.php_cs.cache
/bin/*
!/bin/console
/public/bundles/
/var/
/vendor/
/common/
/festival/
/grandin/
/mealfeel/
/src/
/web/
/tests/
/app/
/node_modules/
