/common/bitrix
/common/upload
/.vagrant/
/common/local/cache/
/common/local/doc/html/
/common/local/modules/sprint.migration/
/vendor/
node_modules/
/web/sitemap*.xml
!/web/robots.txt
.php_cs.cache

/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep

!/var/logs
/var/logs/*
!var/logs/.gitkeep

### Symlinks
/web/bitrix
/web/static
/web/local
/web/upload
/web/bundles

### Php Unit
phpunit.xml
